// Products
.products-index {
  p.spinner {
    text-align: center;
    font-size: 4em;
    margin-top: 40px;
  }

  .caption {
    height: 110px;
    overflow: hidden;

    h4 {
      font-size: 14px;
      white-space: nowrap;
    }
  }

  .thumbnail {
    padding: 0;

    img {
      width: 100%;
    }

    .caption-full {
      padding: 9px;
      color: #333;
    }
  }
}

// Filters
.list-group.level-0 {
  padding: 0;

  .toggle-icon {
    float: right;
    margin-top: 4px;
  }

  .list-group-item {
    &.active {
      background-color: #337ab7;
      a { color: #fff; }
    }
  }

  .list-group {
    margin-bottom: 0;

    &.level-1 {
      > .list-group-item {
        padding-left: 25px;
      }
    }

    &.level-2 {
      > .list-group-item {
        padding: 8px 10px 8px 40px;
      }
    }

    .list-group-item {
      border-radius: 0;
      background-color: #eee;

      &.active {
        background-color: #337ab7;
        a { color: #fff; }
      }
    }
  }
}
